.main-content {
    margin-left: 70px; 
    padding: 20px;
    transition: margin-left 0.3s;
  }
  
  .main-content.expanded {
    margin-left: 250px; 
  }

  @media (max-width: 767px) {
    .main-content {
      margin-left: 20px;

    }
    .main-content.expanded {
      margin-left: 150px;
    }
  }
  